:root {
    --base-grid-item-width: 512px;
}

@media only screen and (max-width: 1280px) {
    :root {
        --base-grid-item-width: 448px;
    }
}

@media only screen and (max-width: 1080px) {
    :root {
        --base-grid-item-width: 384px;
    }
}

@media only screen and (max-width: 915px) {
    :root {
        --base-grid-item-width: 352px;
    }
    .title {
        width: var(--base-grid-item-width) !important
    }
}

@media only screen and (max-width: 835px) {
    :root {
        --base-grid-item-width: 320px;
    }
}

@media only screen and (max-width: 760px) {
    :root {
        --base-grid-item-width: 512px;
    }
}

@media only screen and (max-width: 645px) {
    :root {
        --base-grid-item-width: 448px;
    }
}

@media only screen and (max-width: 525px) {
    :root {
        --base-grid-item-width: 384px;
    }
}


@media only screen and (max-width: 440px) {
    :root {
        --base-grid-item-width: 320px;
    }
}

h1 {
    font-weight: 700;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #f0e9d0;
}

.container {
    max-width: 90%;
    padding-top: 2rem;
}

.header-grid,
.body-grid {
    margin: 0 auto;
}

.header-grid-sizer,
.body-grid-sizer {
    width: var(--base-grid-item-width);
}

.header-grid-item,
.body-grid-item {
    width: var(--base-grid-item-width);
    margin-bottom: 20px;
}

.grid-item--width2 {
    width: calc(var(--base-grid-item-width) * 2);
}

.title,
.filters,
.menu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.title a, .menu a, .filter, .caption a {
    text-decoration: none;
    color: black;
}

.title a:hover,
.menu a:hover,
.filter:hover,
.filter.is-checked {
    color: #ea1f4c;
}

.image-caption-wrapper:hover .image {
    opacity: 0.3;
}

.image-caption-wrapper:hover .caption {
    opacity: 1;
}

.image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.image-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.caption {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}