@media only screen {
    :root {
        --base-grid-item-width: calc(20% - (20px * 4 / 5));
    }
    .large {
        font-size: 36px;
        line-height: 36px;
    }
    
    .normal {
        font-size: 22px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 1599px) {
    :root {
        --base-grid-item-width: calc(25% - (20px * 3 / 4));
    }
}

@media only screen and (max-width: 965px) {
    :root {
        --base-grid-item-width: calc(33% - (20px * 2 / 3));
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --base-grid-item-width: calc(50% - (20px / 2));
    }
    .large {
        font-size: 25px;
        line-height: 27px;
    }
    .normal {
        font-size: 16px;
        line-height: 27px;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #f0e9d0;
}

.container {
    max-width: 100%;
    padding: 2rem;
}

.header-grid-sizer,
.body-grid-sizer {
    width: var(--base-grid-item-width);
}

.header-grid-item,
.body-grid-item {
    width: var(--base-grid-item-width);
    margin-bottom: 4%;
}

.grid-item--width2 {
    width: calc(var(--base-grid-item-width) * 2);
}

.title,
.filters,
.menu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.title a, .menu a, .filter, .caption a {
    text-decoration: none;
    color: black;
}

.title a:hover,
.menu a:hover,
.filter:hover,
.filter.is-checked {
    color: #ea1f4c;
}

.image-caption-wrapper:hover .image {
    opacity: 0.3;
}

.image-caption-wrapper:hover .caption {
    opacity: 1;
}

.image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.image-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.caption {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}