@font-face {
    font-family: "ABCOracle";
    src: url("ABCOraclePlusVariable.woff") format("woff-variations");
    font-weight: 300 700;
}

@media only screen {
    :root {
        --grid-item--width: 20%;
        --grid-item--width2: 40%;
    }

    .large {
        font-size: 36px;
        line-height: 36px;
    }
    
    .medium {
        font-size: 22px;
        line-height: 30px;
    }

    .small-medium {
        font-size: 16px;
        line-height: 26px;
    }

    .small {
        font-size: 14px;
        line-height: 24px;
    }

    .extra-small {
        font-size: 12px;
        line-height: 18px;
    }

    .header-grid {
        transition: height .2s ease-out;
    }

    .collapsible {
        cursor: s-resize;
        text-align: right;
    }

    .collapsible:after {
        content: '\002B';
        float: left;
        padding-right: 10px;
    }

    .collapsible.active {
        cursor: n-resize;
    }

    .active:after {
        content: "\2212";
    }

    .category-menu-wrapper {
        overflow: hidden;
        padding: 0 0.5rem 1.0rem 0.5rem;
    }
    .category-menu {
        transition: max-height .2s ease-out;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .filter-list {
        display: inline;
        max-width: 33.3%;
    }

    .filter-type {
        padding: 5px 10px;
    }

    .filter-items {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 33.3%;
    }
}

@media only screen and (max-width: 1394px) {
    :root{
        --grid-item--width: 20%;
        --grid-item--width2: 40%;
    }
}

@media only screen and (max-width: 965px) {
    :root {
        --grid-item--width: 25%;
        --grid-item--width2: 50%;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --grid-item--width: 33.3%;
        --grid-item--width2: 66.6%;
    }
    .large {
        font-size: 25px;
        line-height: 27px;
    }
    .small-medium {
        font-size: 16px;
        line-height: 27px;
    }
}

@media only screen and (max-width: 596px) {
    :root {
        --grid-item--width: 50%;
        --grid-item--width2: 100%;
    }
    .large {
        font-size: 23px;
        line-height: 25px;
    }
    .small-medium {
        font-size: 14px;
        line-height: 18px;
    }
    .category-menu {
        flex-flow: column;
    }
    .filter-list {
        max-width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --grid-item--width: 49%;
        --grid-item--width2: 100%;
    }
    .large {
        font-size: 23px;
        line-height: 25px;
    }
    .small-medium {
        font-size: 14px;
        line-height: 18px;
    }
    .container {
        padding: 1rem !important;
    }
    .footer {
        padding: 0 1.5rem 1.5rem 1.5rem!important;
    }
}

html, body {
    height: 100%;
}

body {
    font-family: 'ABCOracle';
    font-weight: 300;
    background: #eaeceb;
    display: flex;
    flex-direction: column;
}

hr {
    margin: 0;
}

.container {
    max-width: 100%;
    padding: 2rem;
    flex: 1 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 1.0rem 0.5rem;
}

.body-grid {
    width: 100%;
}

.body-grid-sizer {
    width: 0.1%;
}

.body-grid-item {
    width: var(--grid-item--width);
    padding: 0.5rem;
}

.grid-item--width2 {
    width: var(--grid-item--width2);
}

.flex-overlay .filter,
.filter-list .filter ,
.caption .filter  {
    border-radius: 25px;
    background: white;
    padding: 5px 10px;
    margin: 0.2rem;
    pointer-events: all; 
}

.filters.overlay {
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    pointer-events: none; 
}

.flex-overlay {
    display: flex;
    flex-flow: row wrap;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.title a, .filter, .caption a, span > a {
    text-decoration: none;
    color: black;
}

.title a:hover,
.filter:hover,
span > a:hover,
.filter.is-checked {
    color: #ea1f4c;
}

.image-caption-wrapper:hover .image {
    opacity: 0.3;
}

.image-caption-wrapper:hover .caption {
    opacity: 1;
}

.image-caption-wrapper:hover .filters.overlay {
    opacity: 1;
}

.image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.image-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image {
    width: 100%;
    max-height: 100%;
}

.caption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    /*transform: translate(-50%, -50%);*/
    padding: 15px 20px;
}

.hidden {
    display: none;
}

footer {
    flex-shrink: 0;
    max-width: 100%;
    padding: 0 2.5rem 2.5rem 2.5rem;
    opacity: 0.7;
}

footer > span {
    line-height: 2.0rem;
}