@font-face {
    font-family: "ABCOracle";
    src: url("ABCOraclePlusVariable.woff") format("woff-variations");
    font-weight: 300 700;
}

@media only screen {
    :root {
        --grid-item--width: 20%;

        --font-size-extra-small: 12px;
        --line-height-extra-small: 18px;

        --font-size-small: 14px;
        --line-height-small: 24px;

        --font-size-small-medium: 17px;
        --line-height-small-medium: 26px;

        --font-size-medium: 22px;
        --line-height-medium: 30px;

        --font-size-larg: 36px;
        --line-height-large: 36px;

        --padding-container: 2rem 2rem 0 2rem;
        --padding-footer: 0.5 2.5rem 2rem 2.5rem;

        --padding-box: .4rem .8rem;
        --margin-box: .2rem;

        --flex-flow-category-menu: row wrap;
        --max-width-filter-list: 33.3%;

        --grid-template-columns-about-body: 2fr 1fr;
        --grid-template-areas-about-body:
                "text   students"
                "thanks students";
    }
}

@media only screen and (max-width: 1495px) {
    :root{
        --grid-item--width: 24.9%;
    }
}

@media only screen and (max-width: 1165px) {
    :root{
        --font-size-small: 13px;
        --line-height-small: 22px;

        --font-size-small-medium: 16px;
        --line-height-small-medium: 24px;

        --font-size-larg: 34px;
        --line-height-large: 34px;

        --padding-box: .35rem .75rem;
        --margin-box: .1rem;
    }
}

@media only screen and (max-width: 1035px) {
    :root {
        --grid-item--width: 33.3%;

        --font-size-small: 14px;
        --line-height-small: 24px;

        --font-size-small-medium: 17px;
        --line-height-small-medium: 26px;

        --font-size-larg: 36px;
        --line-height-large: 36px;

        --padding-box: .4rem .8rem;
        --margin-box: .2rem;
    }
}

@media only screen and (max-width: 890px) {
    :root{
        --font-size-small: 13px;
        --line-height-small: 22px;

        --font-size-small-medium: 16px;
        --line-height-small-medium: 24px;

        --font-size-larg: 34px;
        --line-height-large: 34px;

        --padding-box: .35rem .75rem;
        --margin-box: .1rem;
    }
}

@media only screen and (max-width: 790px) {
    :root {
        --grid-item--width: 50%;

        --font-size-small: 14px;
        --line-height-small: 24px;

        --font-size-small-medium: 17px;
        --line-height-small-medium: 26px;

        --font-size-larg: 36px;
        --line-height-large: 36px;

        --padding-box: .4rem .8rem;
        --margin-box: .2rem;

        --grid-template-columns-about-body: 1fr;
        --grid-template-areas-about-body:
                "text"
                "students"
                "thanks";
    }
}

@media only screen and (max-width: 610px) {
    :root{
        --font-size-small: 13px;
        --line-height-small: 22px;

        --font-size-small-medium: 16px;
        --line-height-small-medium: 24px;

        --font-size-larg: 34px;
        --line-height-large: 34px;

        --padding-box: .35rem .75rem;
        --margin-box: .1rem;
    }
}

@media only screen and (max-width: 550px) {
    :root {
        --grid-item--width: 100%;

        --font-size-small: 14px;
        --line-height-small: 24px;

        --font-size-small-medium: 17px;
        --line-height-small-medium: 26px;

        --font-size-larg: 36px;
        --line-height-large: 36px;

        --padding-box: .4rem .8rem;
        --margin-box: .2rem;

        --flex-flow-category-menu: column;
        --max-width-filter-list: 100%;
    }
}


@media only screen and (max-width: 430px) {
    :root {
        --padding-container: 1.5rem 1.4rem 0 1.5rem;
        --padding-footer: 0 2rem 1.5rem 2rem;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        --font-size-small: 13px;
        --line-height-small: 22px;

        --font-size-small-medium: 16px;
        --line-height-small-medium: 24px;

        --font-size-larg: 34px;
        --line-height-large: 34px;

        --padding-box: .35rem .75rem;
        --margin-box: .1rem;
    }
}

@media (hover: hover) {
    a:hover,
    .filter-items > .filter.show:hover,
    .image-filter:hover,
    .filters-title:hover,
    .image-title:hover,
    .image-edit-title:hover {
        color: #ea1f4c !important;
    }

    .body-grid-item:hover img {
        opacity: 0.3;
    }

    .body-grid-item:hover .image-filter,
    .body-grid-item:hover .image-edit,
    .body-grid-item:hover .image-caption {
        opacity: 1;
    }
}

@media (hover: none) {
    .body-grid-item.active img {
        opacity: 0.3;
    }

    .body-grid-item.active .image-filter,
    .body-grid-item.active .image-edit,
    .body-grid-item.active .image-caption {
        opacity: 1;
    }
}

.extra-small {
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-extra-small);
}

.small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.small-medium {
    font-size: var(--font-size-small-medium);
    line-height: var(--line-height-small-medium);
}

.medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

.large {
    font-size: var(--font-size-larg);
    line-height: var(--line-height-large);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'ABCOracle';
    font-weight: 300;
    font-feature-settings: "ss09";
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}

a {
    color: black !important;
}

hr {
    margin: 0;
}

.hidden {
    display: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
    max-width: 100%;
    padding: var(--padding-container);
    flex: 1 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 1.0rem 0.5rem;
}

.header-grid {
    transition: height .2s ease-out;
}

.title a {
    text-decoration: none;
}

.title {
    margin-right: 1rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.collapsible {
    cursor: s-resize;
    text-align: right;
}

.collapsible:after {
    content: '\002B\00a0\00a0 Filters';
    float: left;
}

.collapsible.active {
    cursor: n-resize;
}

.collapsible.active:after {
    content: "\2212\00a0\00a0 Filters";
}

.category-menu-wrapper {
    padding: 0 0.5rem 0 0.5rem;
    transition: padding-top .2s ease-out, padding-bottom .2s ease-out;
}

.category-menu {
    transition: max-height .2s ease-out;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-flow: var(--flex-flow-category-menu);
    justify-content: space-between;
}

.filter-list {
    display: inline;
    max-width: var(--max-width-filter-list);
}

.filter-type {
    /*font-weight: 350;*/
    /*color: #ea1f4c;*/
    /*width: 100%;*/
    /*padding-left: 0 !important;*/
    /*padding-bottom: 0 !important;*/
}

.filter-items {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 33.3%;
    gap: 0.35rem;
}

.body-grid-sizer {
    width: 0.1%;
}

.body-grid-item {
    width: var(--grid-item--width);
    padding: 0.5rem;
    cursor: pointer;
}

.grid-item--full {
    width: 100%;
}

.filter-items > .filter.show {
    cursor: pointer;
}

.filter-items > .filter.hide {
    cursor: default;
}

.filter {
    transition: all 0.5s ease;
}

.filter.show {
    opacity: 100%;
    filter: none;
    font-variation-settings: "slnt" 0;
}

.filter.hide {
    opacity: 50%;
    filter: blur(1px);
    font-variation-settings: "slnt" -13;
}

.filter.active {
    color: #ea1f4c !important;
}

.image > img {
    width: 100%;
    height: 100%;
}

.image-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
}

.image-filters-edit {
    display: flex;
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.image-filters-edit > .image-filters-wrapper {
    flex: 1 1 auto;
}

.image-caption {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    opacity: 0;
    justify-content: right;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.image-title {
    border-radius: 2rem;
    padding: .4rem .8rem .4rem 0;
    margin: 0.2rem 0.2rem 0.2rem 0;
    pointer-events: all;
}
.image-author {
    margin-right: 0;
}

.filter-type,
.filter-items > .filter,
.image-filter,
.image-author,
.image-edit-title {
    border-radius: 2rem;
    background: white;
    padding: var(--padding-box);
    margin: var(--margin-box);
    pointer-events: all;
}

.filter-type,
.filter-list .filter {
    margin: 0;
}

.filter-type {
    background: none;
}

.image-filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.image-filter {
    opacity: 0;
}

.image-edit {
    opacity: 0;
}

.about {
    cursor: initial;
}

.about-body {
    display: grid;
    grid-template-columns: var(--grid-template-columns-about-body);
    gap: 25px;
    grid-template-areas: var(--grid-template-areas-about-body);
}

.about-students {
    grid-area: students;
    display: flex;
    flex-direction: column;
}

.about-text {
    grid-area: text;
    text-align: justify;
}

.about-thanks {
    grid-area: thanks;
}


.slant {
    font-variation-settings: "slnt" -13;
}

.about .dinamo:after {
    content: '\F8FF';
    font-size: 40px;
    vertical-align: middle;

    transition: font-variation-settings 0.3s ease;
    animation-name: glyph-animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes glyph-animation {
    from {
        font-variation-settings: "TRIP" 0;
    }
    to {
        font-variation-settings: "TRIP" 1;
    }
}

footer {
    flex-shrink: 0;
    max-width: 100%;
    padding: var(--padding-footer);
    opacity: 0.7;
}

footer > span {
    line-height: 2.0rem;
}