@font-face {
    font-family: "ABCOracle";
    src: url("/fonts/ABCOraclePlusVariable.woff") format("woff-variations");
    font-weight: 200 700;
}

@media only screen {
    :root {
        --alternative-font-color: #ea1f4c;

        --grid-item--width: 19.9%;

        font-size: 16px;

        --font-size-large: 50px;
        --line-height-large: 50px;

        --font-size-medium: 26px;
        --line-height-medium: 32px;

        --font-size-small: 20px;
        --line-height-size-small: 30px;

        --font-size-image-filters: 18px;
        --line-height-image-filters: 26px;

        --font-size-extra-small: 15px;
        --line-height-extra-small: 15px;

        --no-gapping: 0;
        --large-gapping: 2.5rem;
        --medium-gapping: 2.0rem;
        --small-gapping: 0.75rem;

        --menu-filter-padding: 0.6rem 1.15rem;
        --menu-filter-gap: 0.4rem;

        --image-filter-padding: 0.6rem 1.15rem;
        --image-filter-gap: 0.3rem;

        --flex-flow-category-menu: row wrap;
        --max-width-filter-list: 24.625%;

        --grid-template-columns-about-body: 1.5fr 1fr;
        --grid-template-areas-about-body:
                "text   students"
                "thanks students";

        --weight-animation-font-spacing-to: 3px;
        --slant-animation-font-spacing-to: 3px;
    }
}

@media only screen and (max-width: 1685px) {
    :root{
        font-size: 15px;

        --font-size-large: 48px;
        --line-height-large: 48px;

        --font-size-medium: 24px;
        --line-height-medium: 28px;

        --font-size-small: 19px;
        --line-height-size-small: 28px;

        --font-size-image-filters: 17px;
        --line-height-image-filters: 24px;

        --font-size-extra-small: 14px;
        --line-height-extra-small: 14px;
    }
}

@media only screen and (max-width: 1595px) {
    :root{
        --grid-item--width: 24.9%;

        --font-size-image-filters: 18px;
        --line-height-image-filters: 26px;
    }
}

@media only screen and (max-width: 1350px) {
    :root{
        --font-size-image-filters: 17px;
        --line-height-image-filters: 24px;
    }
}

@media only screen and (max-width: 1280px) {
    :root{
        font-size: 14px;

        --font-size-large: 46px;
        --line-height-large: 46px;

        --font-size-medium: 22px;
        --line-height-medium: 26px;

        --font-size-small: 18px;
        --line-height-size-small: 26px;

        --font-size-image-filters: 16px;
        --line-height-image-filters: 22px;
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --grid-item--width: 33.3%;

        --font-size-image-filters: 17px;
        --line-height-image-filters: 24px;
    }
}

@media only screen and (max-width: 950px) {
    :root {
        font-size: 14px;

        --font-size-large: 44px;
        --line-height-large: 44px;

        --font-size-medium: 21px;
        --line-height-medium: 25px;

        --font-size-small: 17px;
        --line-height-size-small: 25px;

        --font-size-image-filters: 16px;
        --line-height-image-filters: 21px;
    }
}

@media only screen and (max-width: 920px) {
    :root{
        --font-size-image-filters: 15px;
        --line-height-image-filters: 20px;

        --image-filter-gap: 0.2rem;
    }
}

@media only screen and (max-width: 890px) {
    :root {
        font-size: 13px;

        --font-size-large: 42px;
        --line-height-large: 42px;

        --font-size-medium: 20px;
        --line-height-medium: 24px;

        --font-size-small: 16px;
        --line-height-size-small: 24px;
    }
}

@media only screen and (max-width: 855px) {
    :root {
        --font-size-image-filters: 14px;
        --line-height-image-filters: 18px;
    }
}

@media only screen and (max-width: 855px) {
    :root {
        --image-filter-padding: 0.6rem 1.05rem;
    }
}

@media only screen and (max-width: 805px) {
    :root {
        --grid-item--width: 49.9%;

        font-size: 14px;

        --font-size-large: 44px;
        --line-height-large: 44px;

        --font-size-medium: 21px;
        --line-height-medium: 25px;

        --font-size-small: 17px;
        --line-height-size-small: 25px;

        --font-size-image-filters: 16px;
        --line-height-image-filters: 21px;

        --image-filter-padding: 0.6rem 1.15rem;
        --image-filter-gap: 0.3rem;

        --grid-template-columns-about-body: reset;
        --grid-template-areas-about-body:
                "text"
                "students"
                "thanks";

        --flex-flow-category-menu: column;
        --max-width-filter-list: 100%;
    }
}

@media only screen and (max-width: 645px) {
    :root{
        font-size: 13px;

        --font-size-large: 42px;
        --line-height-large: 42px;

        --font-size-medium: 20px;
        --line-height-medium: 24px;

        --font-size-small: 16px;
        --line-height-size-small: 24px;

        --font-size-image-filters: 15px;
        --line-height-image-filters: 20px;
    }
}

@media only screen and (max-width: 600px) {
    :root{
        --font-size-image-filters: 14px;
        --line-height-image-filters: 18px;

        --image-filter-padding: 0.6rem 1.05rem;
        --image-filter-gap: 0.2rem;
    }
}

@media only screen and (max-width: 565px) {
    :root {
        --font-size-image-filters: 13px;
        --line-height-image-filters: 17px;
    }
}

@media only screen and (max-width: 550px) {
    :root {
        --grid-item--width: 100%;

        font-size: 14px;

        --font-size-large: 44px;
        --line-height-large: 44px;

        --font-size-medium: 21px;
        --line-height-medium: 25px;

        --font-size-small: 17px;
        --line-height-size-small: 25px;

        --font-size-image-filters: 17px;
        --line-height-image-filters: 25px;

        --image-filter-padding: 0.6rem 1.15rem;
        --image-filter-gap: 0.3rem;

        --large-gapping: 2.0rem;
        --medium-gapping: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --large-gapping: 1.75rem;
        --medium-gapping: 1.25rem;
    }
}

@media only screen and (max-width: 360px) {
    :root {
        font-size: 13px;

        --font-size-large: 42px;
        --line-height-large: 42px;

        --font-size-medium: 20px;
        --line-height-medium: 24px;

        --font-size-small: 16px;
        --line-height-size-small: 24px;

        --font-size-image-filters: 16px;
        --line-height-image-filters: 22px;

        --large-gapping: 1.5rem;
        --medium-gapping: 1.0rem;

        --slant-animation-font-spacing-to: 0;
    }
}

@media only screen and (max-width: 325px) {
    :root{
        --font-size-image-filters: 15px;
        --line-height-image-filters: 20px;
    }
}


@media (hover: hover) {
    a:hover,
    .about-menu-title:hover,
    .filters-menu-title:hover,
    .filter-items > .filter.show:hover,
    .image-edit:hover,
    .image-filter:hover {
        color: var(--alternative-font-color) !important;
    }

    .body-grid-item:hover img {
        opacity: 0.3;
    }

    .body-grid-item:hover .image-filter,
    .body-grid-item:hover .image-edit {
        opacity: 1;
    }

    .filter-items > .filter:hover,
    .image-filter:hover {
        /*font-variation-settings: "wght" 300, "slnt" -12 !important;*/
        letter-spacing: 2px;
    }

    .student {
        letter-spacing: 0;
        font-variation-settings: "slnt" 0, "TRIP" 0, "wght" 275;
        filter: none;
        mix-blend-mode: normal;
        transition: all 0.5s ease;
    }

    .student:nth-child(1):hover {
        letter-spacing: 2px;
        font-variation-settings: "TRIP" 1;
    }

    .student:nth-child(2):hover {
        font-variation-settings: "slnt" -13, "wght" 400;
    }

    .student:nth-child(3):hover {
        padding-top: 0.2rem;
        padding-bottom: 0.6rem;
    }

    .student:nth-child(4):hover {
        font-variation-settings: "slnt" -13, "TRIP" 1;
    }

    .student:nth-child(5):hover {
        letter-spacing: 3px;
    }

    .student:nth-child(6):hover {
        font-variation-settings: "wght" 400;
        filter: blur(1px);
    }

    .student:nth-child(7):hover {
        filter: drop-shadow(5px 8px 8px var(--alternative-font-color));
    }

    .student:nth-child(8):hover {
        padding-top: 0.2rem;
        padding-bottom: 0.6rem;
        font-variation-settings: "TRIP" 1;
    }

    .student:nth-child(9):hover {
        letter-spacing: 3px;
        font-variation-settings: "slnt" -13, "wght" 500;
    }

    .student:nth-child(10):hover {
        mix-blend-mode: darken;
    }

    .student:nth-child(11):hover {
        font-variation-settings: "slnt" -13;
    }
}

@media (hover: none) {
    .body-grid-item.active img {
        opacity: 0.3;
    }

    .body-grid-item.active .image-filter,
    .body-grid-item.active .image-edit {
        opacity: 1;
    }
}

.extra-small {
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-extra-small);
}

.font-image-filters {
    font-size: var(--font-size-image-filters);
    line-height: var(--line-height-image-filters);
}

.small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-size-small);
}

.medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

.large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
}

.first-title {
    font-weight: 350;
}

.second-title {
    font-weight: 200;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    font-family: 'ABCOracle';
    font-weight: 275;
    font-feature-settings: "ss09";
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}

a {
    color: black !important;
}

.hidden {
    display: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
    max-width: 100%;
    padding: var(--large-gapping) var(--large-gapping) var(--medium-gapping) var(--large-gapping);
    flex: 1 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--small-gapping) var(--small-gapping) calc(var(--medium-gapping) - var(--small-gapping)) var(--small-gapping);
}

.header-grid {
    transition: height .2s ease-out;
}

.title a,
a.student {
    text-decoration: none;
}

.title {
    margin-right: 1rem;
}

.first-title {
    animation-name: weight-animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

.second-title {
    animation-name: slant-animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

.menu {
    padding-right: var(--small-gapping);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.collapsible {
    cursor: s-resize;
    text-align: right;
}

.collapsible:after {
    content: '\002B\00a0\00a0 Filters';
    float: left;
}

.collapsible.active {
    cursor: n-resize;
}

.collapsible.active:after {
    content: "\2212\00a0\00a0 Filters";
}

.category-menu-wrapper {
    padding: 0 var(--small-gapping) 0 var(--small-gapping);
    transition: padding-top .2s ease-out, padding-bottom .2s ease-out;
}

.category-menu {
    transition: max-height .2s ease-out;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-flow: var(--flex-flow-category-menu);
    row-gap: calc(2 * var(--small-gapping));
    column-gap: 0.5%;
}

.filter-type {
    padding: 0 0 0.3rem 0.2rem;
}

.filter-items {
    padding-left: 0.3rem;
}

.filter-list {
    display: inline;
    max-width: var(--max-width-filter-list);
}

.filter-items {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 33.3%;
    gap: var(--menu-filter-gap);
}

.body-grid-sizer {
    width: 0.1%;
}

.body-grid-item {
    width: var(--grid-item--width);
    padding: var(--small-gapping);
    cursor: pointer;
}

.grid-item--full {
    width: 100%;
}

.filter-items > .filter.show,
.about-title {
    cursor: pointer;
}

.filter-items > .filter.hide {
    cursor: default;
}

.filter {
    cursor: pointer;
    letter-spacing: 0;
    transition: opacity 0.5s ease, filter 0.5s ease, font-variation-settings 0.5s ease, letter-spacing 0.5s ease;
}

.body-grid-item img {
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.image-edit {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.filter.show {
    opacity: 100%;
    filter: none;
    font-variation-settings: "slnt" 0;
}

.filter.hide {
    opacity: 50%;
    filter: blur(1px);
    font-variation-settings: "slnt" -13;
}

.filter-items > .filter.active,
.image-filter.active {
    /*font-variation-settings: "wght" 300, "slnt" -12 !important;*/
    letter-spacing: 2px;
}

.filter.active {
    color: var(--alternative-font-color) !important;
}

.image > img {
    width: 100%;
    height: 100%;
}

.image-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: calc(2 * var(--small-gapping));

    display: flex;
}

.image-info > .image-filters {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: var(--image-filter-gap);
}

.filter-items > .filter,
.image-filter,
.image-edit,
.student {
    border-radius: 2rem;
    background: white;
    pointer-events: all;
}

.filter-items > .filter,
.student {
    padding: var(--menu-filter-padding);
}

.image-filter,
.image-edit {
    padding: var(--image-filter-padding);
}

.students-title {
    padding: 0 0 0.3rem 0.2rem;
}

.students {
    padding-left: 0.3rem;
}

.image-filter {
    opacity: 0;
}

.about {
    cursor: initial;
}

.about-title {
    padding-bottom: var(--small-gapping);
}

.about-body {
    display: grid;
    grid-template-columns: var(--grid-template-columns-about-body);
    gap: var(--medium-gapping);
    grid-template-areas: var(--grid-template-areas-about-body);
}

.about-students {
    grid-area: students;
}

.students {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: var(--menu-filter-gap);
}

.about-text {
    grid-area: text;
    text-align: justify;
}

.about-thanks {
    grid-area: thanks;
}


.slant {
    font-variation-settings: "slnt" -13;
}

.about .dinamo:after {
    content: '\F8FF';
    font-size: 40px;
    vertical-align: middle;

    animation-name: trip-animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes weight-animation {
    from {
        letter-spacing: 0;
        font-variation-settings: "wght" 300;
    }
    to {
        letter-spacing: var(--weight-animation-font-spacing-to);
        font-variation-settings: "wght" 700;
    }
}

@keyframes slant-animation {
    from {
        letter-spacing: 0;
        font-variation-settings: "slnt" 0;
    }
    to {
        letter-spacing: var(--slant-animation-font-spacing-to);
        font-variation-settings: "slnt" -13;
    }
}

@keyframes trip-animation {
    from {
        font-variation-settings: "TRIP" 0;
    }
    to {
        font-variation-settings: "TRIP" 1;
    }
}

footer {
    flex-shrink: 0;
    max-width: 100%;
    padding: var(--no-gapping) calc(var(--large-gapping) + var(--small-gapping)) var(--large-gapping) calc(var(--large-gapping) + var(--small-gapping));;
    opacity: 0.35;
}

footer > span {
    line-height: 2.0rem;
}